@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: color ease .5s;
}

html, body{
    min-height: 100%;
}

body {
    color: #222;
    background: linear-gradient(#E9E9E9,#F8F8F8);
    font-family: 'DM Sans', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

a {
    color: rgba(0, 20, 40, 0.75);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6, a{
    font-weight: 500;
}

div.container {
    padding: 5vh 5vw;
}

header{
    position:relative;
    padding-bottom: 2rem;
}

header h1{
    padding-left:1rem;
    line-height: 1;
}

select#opciones {
    top: .3rem;
    right: 0.75rem;
    position: absolute;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    border-radius: 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section article {
    width: 23%;
    margin: 1%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

@media (max-width: 767.98px) {
    section article {
        width: 46%;
        margin: 2%;
    }
}

section article img{
    width: 100%;
    height:auto;
    border-radius: 5px 5px 0 0;
}

section article h2 {
    line-height: 1;
    padding:0.75rem 0.75rem 0 0.75rem;
    font-size:1.2rem;
}

section article p {
    padding:0.75rem;
}

section article small {
    padding:0.75rem;
    display: block;
}

section div {
    width:calc(50% - 2rem);
    padding:1rem;
}

@media (max-width: 767.98px) {

section div {
    width:calc(100% - 2rem);
    padding:1rem;
}


}

section div h2{
    margin-bottom:1rem;
}

section div p{
    margin-bottom:1rem;
}

section div small{
    background:#fff;
    padding:0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

section div img{
    width:100%;
    height:auto;
}

footer p {
    padding:3rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
