@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html, body{
    min-height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(#f4ffff,#c1cde5);
    color: #15001c;
}

a {
    color: #61416d;
    text-decoration: none;
}

a:hover, a.active {
    color: #361942;
    transition: color ease .5s;
}

div.container {
    width: 80vw;
    margin: 0 auto;
}

nav, footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
}

nav p, footer p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}

.active {
    text-decoration: underline;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    height: 80vh;
}

main div {
    width: 50%;
    margin:auto;
    line-height: 1.5;
    text-align: right;
}

main div p{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2361416d' class='bi bi-robot' viewBox='0 0 16 16'%3E%3Cpath d='M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z'/%3E%3Cpath d='M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z'/%3E%3C/svg%3E");
    background-size: 1rem 1rem;
    background-repeat:no-repeat;
    background-position: 0 0.15rem;
    text-indent: 1.5rem;
}

main div h1, main div p{
    text-align: left;
}

main div img{
    height:50vh;
    width:auto;
    margin: 0 auto;
}

@media (orientation:portrait){

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        height: auto;
        min-height: 80vh
    }

    main div {
        width: 100%;
        margin:auto;
        line-height: 1.5;
        text-align: center;
    }

    main div p{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2361416d' class='bi bi-robot' viewBox='0 0 16 16'%3E%3Cpath d='M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z'/%3E%3Cpath d='M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z'/%3E%3C/svg%3E");
    background-size: 2rem 2rem;
    background-repeat:no-repeat;
    background-position: top center;
    padding-top: 3rem;
    }

    main div h1, main div p{
        text-align: center;
    }

    main div img{
        max-width:100vw;
        height:auto;
        margin: 1rem 0;
    }   

}