@charset "UTF-8";

* { margin: 0; padding: 0; }

html, body { min-height: 100%; }

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #222333;
    background: linear-gradient(#eceff1, #cfd8dc);
}

main {
    width: 90vw;
    margin: 0;
    padding: 5vw;
}

h1 {
    line-height: 1;
    font-size: calc(2rem + 2vw);
    margin:1rem -0.1rem;
}

p { line-height: 1.5; font-size: 1.5rem; }

@media (min-width:699px){ p { max-width:700px; } }

a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    transition: all ease .3s;
}

a:hover {
    color: #000;
    opacity: 1;
    transition: all ease .2s;
}

div a {
    background: #90a4ae;
    box-shadow: 1px 1px 3px #b0bec5;
    padding: 0.4rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

div#next a{
    position: absolute;
    bottom:2rem;
    right:2rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>');
    background-repeat:no-repeat;
    background-position: 87% center;
    padding-right:2rem;
}

div#back a{
    position: absolute;
    bottom:2rem;
    left:2rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>');
    background-repeat:no-repeat;
    background-position: 12% center;
    padding-left:2rem;
}